{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['designate', 'designate-pool-manager', 'designate-mdns', 'designate-sink', 'designate-zone-manager'],
        'services': ['designate-agent', 'designate-api', 'designate-central', 'designate-mdns', 'designate-pool-manager', 'designate-sink', 'designate-zone-manager'],
    },
    'RedHat': {
        'pkgs': ['openstack-designate-api', 'openstack-designate-central', 'openstack-designate-sink', 'openstack-designate-pool-manager', 'openstack-designate-mdns', 'openstack-designate-common', 'python-designate', 'python-designateclient', 'openstack-designate-agent'],
        'services': ['designate-central', 'designate-api', 'designate-mdns', 'designate-pool-manager'],
    },
}, merge=pillar.designate.get('server', {})) %}
